<%= render "layouts/navbar.html.erb"%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @appointment.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @appointment.surname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @appointment.phone %>
</p>

<p>
  <strong>Note:</strong>
  <%= @appointment.note %>
</p>

<% if not isConsuUser? %>
<%= link_to 'Edit', edit_professional_appointment_path(@professional) %> |
<% end %>
<%= link_to 'Back', professional_appointments_path %>
